@media screen and (min-width: 480px)
{
    .place-on-top{
        bottom: 5%;
        right: 5%;
    }
}

@media screen and (min-width: 768px)
{
    .place-on-top{
        bottom: 10%;
        right: 10%;
        transform: translate(-50%, -50%); 
    }
    .business-card-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto; /* Create two rows */
    }
    .weather-card:nth-child(1) {
        grid-column: span 2; /* First item spans across two columns */
    }
    .weather-card:nth-child(2),
    .weather-card:nth-child(3) {
    grid-column: span 1; /* Second and third items each take up one column */
    }
    .business-cards{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .business-card{
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 300px;
        max-width: 400px;
        justify-content: center;
    }
    .weather-column p{
        margin-top: 0;
    }
    .join-main{
        flex-direction: row;
    }
}
@media screen and (min-width: 1024px)
{
    .business-card-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

}