:root{
    --padding: 1rem;
    --dark-blue: #25283d;
    --dark-red: #8f0505;
    --light-blue: #D6E3F8;
    --off-white: #fef5ef;
    --tan: #e4bb97;
    --medium-blue: #2D485D;
    --header-font: "Lexend";
    --normal-font: "Nunito";
}

body{
    max-width: 1080px;
    /* min-width: 500px; */
    font-family: var(--normal-font);
    padding: var(--padding);
    color: var(--dark-blue);
    background-color: var(--light-blue);
    box-sizing: border-box; 
}
button{
    background-color: transparent;
    border:none;
}
h1, h2{
    text-align: center;
    font-family: var(--header-font);
    background-color: var(--dark-red);
    padding: var(--padding);
    color:var(--off-white);
    margin:0;
}
h2{
    background-color: var(--medium-blue);
}
h3{
    text-align: center;
    font-family: var(--header-font);
    font-size: 1.25rem;
    padding: .5rem;
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 96px auto 44px;
    justify-content: start;
    /* align-items: center; */
    /* justify-content: center;  */
    background-color: var(--medium-blue);
    gap:1rem;
}
.highlight{
    font-weight: bold;
}
.title-case{
    text-transform: capitalize;
}
header img{
    padding: 16px;
}
.cityWords{
    display:flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    text-align: center;
}
.cityWords p:first-child{
    margin-bottom: 0;
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 4px 4px 8px rgba(129, 113, 113, 0.6);
}
.cityWords p:last-child{
    /* margin-top: 0;    */
    margin-top:0; 
    font-size: 1.2rem;

}
.directory-main{
    display:flex;
    flex-direction: row;
}
.directory-menu
{
    display: flex;
    justify-content: center;    
    gap: 1rem;
}
table{
    text-align: center;
    padding: var(--padding);
}
td{
    padding: 10px;
    /* width: 300px; */
}
tr:nth-child(even) td{
    background-color: var(--light-blue);    
}
tr:nth-child(odd) td{
    background-color: var(--off-white);    
}
.icon {
    filter: brightness(0) invert(1); /* This will turn the icon white */
}
.list
{
    display: inline-block;
    margin: 1rem;
}
.grid
{
    display: grid;
    justify-content: space-around;
    gap: 1rem;
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
}
.grid-item{
    width: auto;    
    height: auto;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding:var(--padding);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.grid-item:hover{
    transform: translateY(-15px) scale(1.05);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2), 0 15px 35px rgba(0, 0, 0, 0.3);
}
.grid-item:not(:hover) {
    transform: translateY(0) scale(1);
    box-shadow: none;
}
.grid-item img{
    width: auto;
    height: auto;
    padding: 0px;
    max-width: 100%;
    object-fit: contain; 
    
}
.grid-item p{
    margin: 0;
    padding: .5rem;
    font-weight: 300;
}
.business-card-grid{
    display:grid;
    grid-template-columns: 1fr;
    gap:10px;
    margin:1rem;
    align-items: stretch;
}
.business-cards{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin:1rem;
    /* justify-content: center; */
    /* align-items: center; */
}
.weather-card, .business-card{
    display:flex;
    flex:1;
    flex-direction: column;
    background-color:white;    
    overflow: hidden;
    /* margin:1rem; */
}
.business-card
{
    border-radius: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 10px 25px rgba(0, 0, 0, 0.2);
    /* max-width: 400px; */
    /* flex:1; */
}
.weather-details, .weather-forecast, .event-details{
    display:flex;
    background-color: #c2afa3;
    justify-content: center;
    align-items: center;
    height:100%;    
    color:black;
    /* flex:1; */
}
.event-details{
    flex-direction: column;
}
.business-card-details
{
    display:flex;
    flex-direction: row;
}
.weather-column, .business-card-column{
    /* flex:1; */
    display:flex;
    flex-direction: column;
    justify-content: start;
    /* background-color: white; */
    margin-bottom: .5rem;
    height: 100%;
    margin-top: 1rem;
    
    /* align-items: center; */   
}

.line {
    border-bottom: 1px solid var(--dark-blue);
}
.weather-column p{
    margin: .5rem;
    /* text-align: center; */
}
.business-card p
{
    margin: .5rem;
    text-align: center;
}
.business-card img{
    margin: .5rem;
}

.hero{
    position:relative;
    display:flex;
    /* justify-content: center;
    align-items: center; */
}
.hero img{
    width: 100%;
    height:auto;
}
.place-on-top{
    position:absolute;
    bottom: 5%; /* Center vertically */
    right: 5%; /* Center horizontally */
    padding: 1rem;
    transform: translate(-30%, -10%); 
    color: white; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background*/
    border-radius: 1rem;
}
.place-on-top a{
    text-decoration: none;
    color: white;
}
.membership-dialog {
    width: 50%; 
    max-width: 600px;
    padding: 20px;
    border: 1px solid var(--dark-blue);
    border-radius: 8px;
    background-color: var(--off-white);
}
.membership-dialog div{
    display: grid;
    grid-template-columns: auto 44px;
    background-color: var(--medium-blue);
}
.membership-dialog button{
    color: var(--off-white);
    margin: 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
}
::backdrop{
    background-color: rgba(255,255,255,.75);
}
.join-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Form */
form{
    flex: 1;
}
form fieldset{
    margin: 1rem;
    border: none;/*2px solid var(--dark-blue); */
    /* background-color: var(--off-white); */

}
form label{
    display:block;
    padding-top: 1rem;
}
form input[type="text"],
form textarea, 
form input[type="email"],
form input[type="tel"]
{
    display: block;
    width: 100%;
    padding: var(--padding);
    box-sizing: border-box;
    border: 1px solid var(--dark-blue);
    
}
.required
{
    color: var(--dark-red);
}
/* input:required + label{
    font-weight: bold;
} */
form input[type="radio"]
{
    margin-right: 6px;
}
form input[type="submit"]
{
    border: none;
    background-image: linear-gradient(var(--tan), var(--off-white));
    width: 96%;
    padding: var(--padding);
    max-width: var(--max-width);    
    box-shadow: 1px 1px 4px #999;
    margin: 1rem;
    transform: translateX(-15px);
}
/*Membership card animation*/
@keyframes cards-loaded {
    0% { transform: translateY(50%);
    opacity: 0;
    gap: 50px;}
    100% { transform: translateY(0);
    opacity: 1;
    gap: 1px; }
}
.membership-cards
{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    /* width: 100%; */
    box-sizing: border-box;
    margin-top: 2rem;
    animation: cards-loaded 1s ease-in;
}
.membership-level{
    width: calc(100% - 2rem);
    padding: 1rem;
    margin: 1rem;
    background-color: var(--off-white);
    box-sizing: border-box;
    /* height: 10%; */
    text-align: center;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.membership-level button{
    /* margin: 1rem; */
    margin: .5rem;
    border: 1px solid var(--dark-blue);
    padding: .5rem;
    background-color: var(--light-blue);
    border-radius: 10px;
}
.membership-level button:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.thank-you{
    display: flex;
    justify-content: center;
}
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-blue);
    padding: var(--padding);
    color: var(--off-white);
}
footer p{
    margin: .5rem;
}
footer a{
    color: white;
    text-decoration: none;
    transition: color .3s ease;
}
footer a:hover{
    color: rgb(219, 207, 207)
}