@media screen and (min-width: 320px)
{
    #menu {
        display: none; /* hide hamburger button */
    }
    nav{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    nav ul{
        flex-direction: row;
    }
    nav.open {
        display: flex; /* Prevent hiding due to open class */
    }

} 