:root{
    --padding: 1rem;
    --dark-blue: #25283d;
    --light-blue: #D6E3F8;
    --off-white: #fef5ef;
    --tan: #e4bb97;
    --medium-blue: #2D485D;
    --header-font: "Lexend";
    --normal-font: "Nunito";
}

body{
    max-width: 1080px;
    min-width: 500px;
    font-family: var(--normal-font);
    padding: var(--padding);
    color: var(--dark-blue);
}
.profile{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--medium-blue);
    padding: var(--padding);
    /* flex: 1; */
}
.profile img{
    width: 125px;
    height: auto;
}
h1, h2, h3{
    text-align: center;
    font-family: var(--header-font);
    background-color: var(--medium-blue);
    padding: var(--padding);
    color:var(--off-white);
    margin:0;
}
/* .navigation
{
    display:flex; 
    flex-direction: row;

} */
 /* NAVIGATION */
 header{
    position: relative;
 }
 #menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    /* color: white; */
 }
 #menu::before{
    content: "☰";
 }
 #menu.open::before {
	content: "x";
}

.menuContainer{
    position: relative;
    /* display: inline-block; */
}
.mobile-nav.open{
    display: flex;
    flex-direction: row;
}
.mobile-nav{
    display: none;
    /* flex-direction: row; */
}
.mobile-nav ul{
    flex-direction: column; /* Stack items vertically */
}
.navigation{
    background-color: var(--light-blue);
    max-width: 100%;
    justify-content: space-between;
    padding: var(--padding);
}
.navigation ul{
    display:flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    list-style:none;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    
    /* flex: 1; */
}
.navigation a{
    /* display: block; */
    text-decoration: none;
    color: var(--dark-blue);

    /* flex: 1; */
}
.navigation button{
    padding: 1rem;
    background-color: var(--medium-blue);
    width: 100px;
    border-radius: 10px;
    color: var(--off-white);
}
.active
{
    font-weight: bold;
}
section{
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adds depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
    /* padding: var(--padding); */
    border: 1px solid var(--dark-blue);
    margin: 1rem;
}
section h2{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.hero{
    display:flex;
    flex-direction: row;
    gap:1rem;
    /* border: 1px solid black; */
}
.hero section{
    flex: 1;
}
.hero picture{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
}
.hero img{
    width: 200px;
    height: auto;
}
.classList{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    row-gap: 0;
    padding: var(--padding);
}
.classList p{
    min-width: 150px;

    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
}
section p{
    padding-left: var(--padding);
}
.classTaken{
    background-color: var(--tan);
}
.classNotTaken{
    background-color: var(--light-blue); 
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-blue);
    padding: var(--padding);
    color: var(--off-white);
}
footer p{
    margin: .5rem;
}