:root{
    --padding: 1rem;
    --dark-green: #193819;
    --orange: #FFA62B;
    --brown: #53381c;
    --light-green: #688B58;
    --off-white: #FBF7F4;
    --header-font: "Lora";
    --normal-font: "Nunito Sans";
}

body{
    max-width: 1080px;
    /* min-width: 500px; */
    font-family: var(--normal-font);
    padding: var(--padding);
    /* color: var(--dark-blue);
    background-color: var(--light-blue); */
    box-sizing: border-box; 
}
button{
    background-color: transparent;
    border:none;
}
header img{
    padding: 15px;
}
h1, h2{
    text-align: center;
    font-family: var(--header-font);
    background-color: var(--brown);
    padding: var(--padding);
    color:var(--off-white);
    margin:0;
}
h2{
    background-color: var(--brown);
}
h3{
    text-align: center;
    font-family: var(--header-font);
    font-size: 1.25rem;
    padding: .5rem;
    margin: 0;
}
/* Shared */
.loading{
    display:flex;
    justify-content: center;
    padding: 20px;
 }
 @keyframes loadingAnimation
 {
    0% {content: "";}
    25% {content: ".";}
    50% {content: "..";}
    75% {content: "...";}
    100% {content: "...";}
 }
 .dots::after{
    content:"";
    animation: loadingAnimation 3s infinite steps(1);
 }
 .highlight{
    font-weight: bold;
}

/* Index page */
.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap:10px;
    overflow: hidden;
    max-width: 100%;
    background-color: var(--off-white);
}
/*Main Page*/
.join-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Form */
form{
    flex: 1;
}
form fieldset{
    margin: 1rem;
    border: none;/*2px solid var(--dark-blue); */
    /* background-color: var(--off-white); */

}
form label{
    display:block;
    padding-top: 1rem;
}
form input[type="text"],
form textarea, 
form input[type="email"]
{
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--dark-green);
    margin-top: 5px;
    
}
.required
{
    color: var(--orange);
}
.calculate
{
    margin-top:35px;
    padding: 5px;
    display:flex;
    flex-direction: column;

}
#goal, #weight, #calories
{
    width: 100%;
}
#goal h3, #weight h3, #calories h3{
    text-align: start;
}
.profile
{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 30px;
}
/* input:required + label{
    font-weight: bold;
} */

/* Recipe search page */
.container{
    display: grid;
    grid-template-columns: 2fr 1fr; /* Main content takes 2/3, aside takes 1/3 */
    gap: 20px;
}

form input[type="checkbox"],
form input[type="radio"]
{
    margin-right: 6px;
}
form input[type="submit"], 
#goal button,
#weight button,
#calories button,
#search-button,
#print-menu-button,
.load-more
{
    border: none;
    background-image: linear-gradient(var(--orange), var(--off-white));
    width: 96%;
    padding: var(--padding);
    max-width: var(--max-width);    
    box-shadow: 1px 1px 4px #999;
    margin: 1rem;
    transform: translateX(-15px);
    text-align: center;
}
.recipe-card form button
{
    border: none;
    background-image: linear-gradient(var(--orange), var(--off-white));
    /* width: 96%; */
    padding: 5px;
    box-shadow: 1px 1px 4px #999;
    margin: 1rem;
}
.recipe-card img{
    padding: 5px;
}
/* .business-cards{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin:1rem;

} */

/* Search page */
#search-recipe-form > fieldset:first-of-type {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.mealTypes
{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap; 
}
.mealTypes label
{
    width: 50%; 
    box-sizing: border-box;
}
.search-buttons
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.recipe-cards
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.recipe-card
{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--off-white);
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.recipe-card form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.meal-plan-cards
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.meal-plan-cards-display
{
    display: flex;
    flex-wrap: wrap;  /* Allows items to wrap to new rows */
    flex-direction: row;  /* Ensures they lay out horizontally */
    gap: 16px;  /* Adds spacing between cards */
    justify-content: space-evenly; /* Distributes items evenly */
}
.meal-plan-card
{
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    background-color: var(--off-white);
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 10px 25px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
/* transition: transform 0.4s ease, box-shadow 0.4s ease;
} */
.meal-plan-card:hover,
.recipe-card:hover{
    transform: translateY(-10px) scale(1.05);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2), 0 15px 35px rgba(0, 0, 0, 0.3);
}
.recipe-card:not(:hover) {
    transform: translateY(0) scale(1);
    box-shadow: none;
}
table{
    border:1px solid black;
    width: 275px;
}
td, th{
    border: 1px solid black;
    padding:2px;
}
th{
    text-align: start;
}
td:first-child {
    width: 100%;  /* First column takes up all the space */
}
td:last-child
{
    width: 1.rem;
}
tr:nth-child(even) td{
    background-color:  #ffc16a81;
}
tr:nth-child(odd) td{
    background-color: #53381c6c;
}
.icon-placeholder{
    display:flex;
    justify-content: center;
    padding: 20px;

}

/* .open{
    background-color: green;
} */
.link-text:hover
{
    display: inline-block; 
    font-weight: bold;
    cursor: pointer;
    transform: translateY(.1px) scale(1.05);
}

/* Macro Chart */
.macro-wrapper
{
   display:flex;
   flex-grow: 1;
   width:300px; 
}
.macro-percents
{
    display:flex;
    width: 200px;
    
}
.fat-placeholder{
    background-color: rgb(226, 155, 24);
    height: 2rem;
    flex: 0 0 10%;
}
.carb-placeholder{
    background-color: rgb(22, 169, 206);
    height: 2rem;
    flex: 0 0 15%;
}
.protein-placeholder{
    background-color: rgb(180, 90, 231);
    height: 2rem;
    flex: 0 0 50%;
}
.extra-placeholder{
    background-color: rgb(219, 11, 11);
    height: 2rem;
    width: 25px;
   
}
.recipe-card-dialog
{
    width: 50%; 
    max-width: 600px;
    padding: 20px;
    border: 1px solid var(--dark-green);
    border-radius: 8px;
    background-color: var(--off-white);
}
.recipe-card-dialog > div:first-of-type,
.menu-plan-dialog > div:first-of-type{
    display: grid;
    grid-template-columns: auto 44px;
    background-color: var(--medium-blue);
}
.menu-plan-content{
    margin-top: 20px;
}
.close-dialog{
    background-color: var(--brown);
    color: var(--off-white);
}
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-green);
    padding: var(--padding);
    color: var(--off-white);

}
footer p{
    margin: .5rem;
}
footer a{
    color: white;
    text-decoration: none;
    transition: color .3s ease;
}
footer a:hover,
.place-on-top:hover{
    color: rgb(219, 207, 207);
    cursor: pointer; 
}